<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true" version="3.0">

    <!-- ServletContext 配置参数 -->
    <context-param>
        <param-name>application.name</param-name>
        <param-value>user-web</param-value>
    </context-param>

    <!-- 请确保这个 Listener 放置在首位 -->
    <listener>
        <listener-class>com.athena.web.listener.ComponentContextInitializerListener</listener-class>
    </listener>


    <filter>
        <filter-name>AthenaFilter</filter-name>
        <filter-class>com.athena.web.filter.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AthenaFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>



    <welcome-file-list>
        <welcome-file>/</welcome-file>
        <welcome-file>/index</welcome-file>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Define a Security Constraint on this Application -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Hello,World</web-resource-name>
            <url-pattern>/hello/world</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- NOTE:  This role is not present in the default users file -->
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Tomcat Host Manager Application</realm-name>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
        <role-name>tomcat</role-name>
    </security-role>

</web-app>